# Mac desktop service store files
.DS_Store
.Rproj.user
# extraneous R files
R src/*.Rmd
R src/*.md
R src/*.pdf
R src/*.tex
R src/*.synctex.gz
R src/*.csv
R src/*.Rhistory
R src/*.RData
R src/figure
.Rhistory
.RData
kelly_lme.R
Data_History/*
MODEL_TRADES/*
